.container{
    background-color: beige;
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 100px auto auto 100px;
    text-align: center;

}
.container >div {
    padding:20px;
    border:4px solid green;
    margin: 3px;
}
.header{
    grid-column-start: 1;
    grid-column-end:-1;
    background-color: blue;

}
.menu{
    grid-column-start:1;
    grid-column-end: 3;
    background-color: brown;
    grid-row-start: 2;
    grid-row-end: 4;
  
    
}
.body-one{
    grid-column-start:3;
    grid-column-end:-1;
    background-color: yellow;
    grid-row-start: 2;
    grid-row-end:4;
 
    

}
.footer{
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: aquamarine;
}
.body-two{
    grid-row-start: 4;
    grid-row-end: ;
}
   








