
body{
    background-color: rgb(59, 169, 216);
}
.tx{
    background-color: yellow;
    width: 350px;
    height: 80px;
    text-align: center;
    padding-top:50px;
    border:2px solid yellow;
    border-radius: 4px;
    
      

    
}
.ye{
    background-color: brown;
    text-align:center;
    width: 174px;
    height: 45px;
    padding:14px 0px 0px 0px;
    margin:-1px 0px 0px 0px;


}
.no{
    background-color:blueviolet;
    text-align:center;
    width:180px;
    height:45px;
    padding:14px 0px 0px 0px;
    margin: -62px 0px 0px 170.5px;
    border:2px solid blueviolet;
    border-radius: 4px;



}
