fieldset{
    text-align: center;
    background-color: green;
}
.bro{
    font-weight:  bold;
    font-size:larger

}
input{
    color:aqua;
}
h9{
    color:red;
}
.button{
    background-color:black;
    color: white;

}
div{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:100;
    border: 10px solid red;
    padding: 20px;
    
}
    

    
