.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);

}
.container >div{
    border: 2px solid green;
    padding: 20px;
    margin: 2px;
}
.div1{
    grid-column-start: 1;
    grid-column-end: 7;
}
.div2{
    grid-column-start: 7;
    grid-column-end: -1;
}
.div3{
    grid-column-start: 1;
    grid-column-end: 7;
}
.div4{
    grid-column-start: 7;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 4;
}
.div5{
    grid-column-start: 1;
    grid-column-end: 4;
}
.div6{
    grid-column-start: 4;
    grid-column-end: 7;
}
.div7{
    grid-column-start:1 ;
    grid-column-end: -1;
}
.div8{
    grid-column-start: 1;
    grid-column-end: -1;
    display:flex;
    
  
}
div